@charset "utf-8";

/* [ header 서식 ] */
.header{
  height: 64px;
  background: var(--colorMain);
  position: relative;
}
.header h1{text-align: center;}
.header h1 img{width: 48px; padding-top: 5px;}



/* [ footer 서식 ] */
.footer{
  width: 100%; height: 267px;
  position: relative; bottom: 0px; left: 0px;
}
.footerNotice{
  width: 100%; height: 50px;
  background: var(--color2);
  display: flex; align-items: center;
}
.footerNotice p{color: var(--color3); font-size: 16px; margin-left: 10px;}

.footerContent{width: 100%; height: 217px; background: var(--colorMain);}
.footerContentWrap{margin: 0px 10px; display: flex; flex-direction: column;}

.footerPolicy{
  height: 30px; 
  margin: 30px 0 20px 0;
  display: flex;
  align-items: center;
}
.footerPolicy a{padding: 5px; font-weight: 500; margin-left: 10px;}
.footerPolicy a:first-child{background-color: var(--color3); color: #f00;}
.footerPolicy a:nth-child(2){color: var(--color3);}
.footerPolicy a:last-child{
  margin-left: auto; 
  background: var(--color1); 
  border-radius: 50%;
  display: flex;
  align-items: center; /* 세로 중앙 */
  justify-content: center; /* 가로 중앙 */
  width: 25px; height: 25px;
}
.footerPolicy a:last-child img{
  width: 18px; height: auto;
  display: block;
}

.footerCsCenter{
  color: var(--color3);
  margin-left: 10px;
  border-top: 1px solid var(--color1);
  border-bottom: 1px solid var(--color1);
  padding: 10px 0;
}
.footerCsCenter > h3{font-size: 18px;}

.footerBusinessInfo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  margin-left: 10px;
  border-bottom: 1px solid var(--color1);
}
.footerBusinessInfo button{
  background: inherit;
  color: var(--color3); 
  border: none; outline: none; 
  cursor: pointer;
}